
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common shared styles */
body{
    background-color: rgba(245, 248, 255, 1);
}
main{
    margin-left: 150px;
    margin-right: 150px;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    font-weight:bold ;
    
}
.btn-primary:hover{
    background-color: deepskyblue;
    cursor: pointer;
    color: black;
}
/* banner related styles  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: #4E47FF;
    font-weight: 800;
    font-size: 34px;
}
.span{
    color:deepskyblue;
}
.banner{
    background-image: url('../Assets/Hero-bg.png');
    height: 600px;
    margin-bottom: 100px;
    padding: 50px 150px 150px 150px ;

}
.banner-content{
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    margin-top: 160px;
    
}
.banner-sub-content-title{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    width: 900px;
    margin-top: 40px;
}
/* action section related styles */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.action-content-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-content-description{
    font-weight: 500;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
    margin-bottom: 23px;
}
.action-section img{
    border-radius: 48px;
}
/* productive user section related styles */
.user-section{
    text-align: center;
    height: 300px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    margin-bottom: 140px;
    padding: 50px 120px 50px 120px;
}
.user-section-title{
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    
}
.user-container{
    display: flex;
    justify-content: space-evenly;
    
}
.user-amount{
    color: #4E47FF;
    font-weight: bold;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.user-criteria{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 20px;
}
/* review section related styles */
.review-section{
    margin-bottom: 100px;
}
.review-section-title{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}
.review-container{
    display: flex;
    gap: 20px;
    
    
}
.review-content{
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    border:1px solid rgba(242, 237, 237, 1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 240px;
}
.review-content-title{
    font-size: 24px;
    font-weight: 700;
}
.review-content-description{
   
   margin-top: 8px;
   margin-bottom: 24px;
}
.review-sub-content{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 50px;
}
.review-sub-content img{
    border-radius: 50%;
}
.reviewer-designation{
    text-align: left;
   
}

.reviewer-name{
    font-weight: 600;
    font-size:16px ;
    color: #252432;
    
}
/* information section related styles */
.information-section{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
   
}
.information-section-title{
    
    font-weight: bold;
    font-size: 80px;
}
.form-section input{
    padding: 20px 270px 20px 30px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-bottom: 20px;

}
.form-section textarea{
    border-radius:10px ;
    border: 1px solid #D6DDED;
    margin-bottom: 20px;
    padding: 20px;
}
.form-section button{
    width: 470px;
}
/* footer related styles */
.footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    
}
.footer-title{
    color:#4E47FF;
    font-weight: 700;
    font-size: 55px;

}
.footer-description{
     width: 532px;
 height: 50px;
  text-align: center;
  
 color: #8987A1;
 margin-top: 10px;
 margin-bottom: 20px;
}
.footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.footer ul li{
    list-style: none;
    
}
.footer li a{
    text-decoration: none;
    color:#8987A1 ;
}